<div data-controller="vehicle">
  <h1>Vehicles</h1>
  <div data-vehicle-target="vehicles" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
    <!-- Vehicles will be appended here -->
  </div>
</div>

<%= csrf_meta_tags %>